.detail-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.detalle {
  border: 2px;
  border-color: black;
  border-style: solid;
  border-left: 0;
  width: 31vw;
}

.detalle div {
  border: 0.5px;
  border-color: black;
  border-style: solid;
}
